/*-------------------------------------------------------------------------------------*/

body{
    background-color: #F9E0AE;
    margin:0px 0px 0px;
    display: flex;
    flex-direction: column;
    position: absolute;
}

.main{
    height: 1300px;
    width: 100%;
    margin-top: 103px;
}

/*-------------------------------------------------------------------------------------*/

.logo{
    height: 50px;
    width: 50px;
    margin-left: 50px;
    margin-right: 20px;
}


.header{
    width: 100%;
    height: 100px;
    background-color: #C24914;
    margin: 0px 0px;
    display: flex;
    flex-direction: row;
    align-items: center;
    position: absolute;
    border-bottom: 3px solid #ff5601;
}


.navMenu{ 
    color:white;
    text-decoration: none;
    font-family: 'Encode Sans SC', sans-serif;
    font-size: 25px;
    display: flex;
    flex-direction: row;
    margin: 0 20px;
}

.navMenu:hover{ 
    color:#FC8621
}


/*----------------------------------------------------------------------------------*/

.moveis{
    height: 400px;
    width: 100%;
    margin-top: 120px;
    padding-top: 30px;
}

.produtos{
    justify-content: space-between;
    display: flex;
    flex-wrap: wrap;
    margin: 70px 80px 0px;
}


.produto1{
    width: 300px;
    height: 400px;
    border: 3px solid #682C0E
}

.produto2{
    width: 300px;
    height: 400px;
    border: 3px solid #682C0E;
}

.produto3{
    width: 300px;
    height: 400px;
    border: 3px solid #682C0E
}



.h2Moveis{
    margin-left: 80px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: #EBA83A;
    width: 43%;
    height: 50px;
    color: #682C0E;
    padding-top: 25px;
    padding-left: 25px;
    border-radius: 5px;
    font-weight: 200px;
    size: 50px;
}

.produtoMoveis{
    height: 250px;
    width: 250px;
    margin-left: 15px;
    margin-top: 5px;
}

#cama{
    margin-left: 30px;
}

#mesa{
    margin-top: 10px;
    margin-left: 30px;
    height: 240px
}

.preco{
    margin-top: 0px;
    text-align: center;
}

.comprar-button{
    height: 40px;
    width: 200px;
    margin-left: 50px;
    margin-top: 10px;
    background-color: #682C0E;
    color: white;
    border: none;
    border-radius: 8px;
}

.comprar-button:hover{
    background-color: green;
}


/*----------------------------------------------------------------------------------*/

.home{
    height: 400px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction:column;
}

.areaPromocao{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 40%;
    position: relative;
    margin-top: 110px;
    text-align: center;
}

.imageHome{
    height: 400px;
    width: 600px;
    border-radius: 8px;
    margin-left: 0px;
    margin-top: 60px;
    position: relative;
}


.blackFriday{
    margin-left: 100px;
}

.black{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 90px;
    margin: 0px;
    padding-bottom: 0px;
    color: #FC8621;
}

#friday{
    font-family: 'Encode Sans SC', sans-serif;
    font-weight: 50px;
    font-size: 70px;
    margin: 0px;
    padding-top: 0px;
    color: #682C0E;
}

.h2Home{ /*area do desconto*/
    color: #EBA83A;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    position: relative;
    margin-top: 20px;
    margin-left: 100px;
    border: 2px solid #EBA83A;

}



/*-------------------------------------------------------------------------------------*/


.footer{
    background-color: #682C0E;
    height: 150px;
    width: 70%;
    margin: 0px auto 70px;
    border: 2px solid #FC8621;
    border-radius: 8px;
    justify-content: center;
    align-items: center;
    position: relative;
}


p{  /*ok*/
    color: #ffffff;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-weight: 100px;
    font-size: 20px;
    text-align: center;
    position: relative;
    padding-top: 20px;
}


.input{ /*ok*/
    height: 30px;
    width: 50%;
}

.cadastro-button{ /*ok*/
    width: 150px;
    height: 35px;
    border: none;
    background-color: #FC8621;
    color: white;
    border-radius: 5px;
}

.cadastro-button:hover{
    background-color: #EBA83A;
}

.logoFooter{ /*ok*/
    position: absolute;
    margin-left: 50px;
    margin-top: 50px;
    height: 70px;
    width: 70px;
}

.inputRodape{
    position: relative;
    margin-left: 270px;
    flex-wrap: nowrap;
}

/*-------------------------------------------------------------------------------------*/

.divGitHub{
    width: 100%;
    margin-bottom: 50px;
    text-align: center;
}
.gitHub{
    text-decoration: none;
    font-family: 'Encode Sans SC', sans-serif;
    font-size: 25px;
    color: #EBA83A;
    margin-top: 0px;
}


/*-------------------------------------------------------------------------------------*/

@media (min-width: 1047px){
    body {
        width:100%;
    }
}

@media (max-width: 1047px){
    .main{
        height: 1900px;
        justify-content:center;
        display: block;
    }
    .navMenu{
        flex-wrap: nowrap;
    }
    .body{
        height:90%;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        align-items:center;
    }

    .header{
        width: 100%;
    }
    #inscricao{
        width: 140px
    }
    .imageHome{
        display: none; 
    }
    .areaPromocao{
        align-items: center;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        margin: auto auto;
        text-align: center;
    }

    .moveis{
        justify-content: space-between;
        flex-basis: 100px;
        width: 60%;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: auto 25%;
    }

    .h2Moveis{
        margin: auto;
        padding-top: 10px;
        padding-bottom: 10px;
        width: 100%;
    }

    .input{
        width: 80%;
        margin-left: 0px;
    }

    .inputRodape{
        margin-left:0px;
        align-items: center;
        display: flex;
        flex-direction: column;
    }

    .cadastro-button{
        width:50%;
        margin-top: 20px;
        margin-left: 0px;
    }

    .footer{ 
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        width:80%;
        height: 200px;
        align-items: center;
        margin: auto 5% 5% auto;
    }

    .gitHub{
        margin-left: 0px;
    }

    .logoFooter{
        display: none;
    }

    .textFooter{
        margin-top: 0px;
        padding-top:0px;
    }

    .produto1{
        margin: 10px;
    }

    .produto2{
        margin: 10px;
    }

    .produto3{
        margin: 10px;
    }
    
    .blackFriday{
        margin-left: 0px;
    }

    .h2Home{
        margin-left: 0px;
    }

    .divGitHub{
        margin-bottom: 50px;
        text-align: center;
    }
}

.popup-container{
    margin-top: 40px;
    height: 50px;
    width: 250px;
    background-color: rgb(104, 44, 5);
    color: white;
    display: none;
}